.container {
  padding: 0;
  margin: 0 auto;
  padding: 0px;
  gap: 32px;
  width: 85%;
}

.firstline {
  display: flex;
  width: 100%;
}

.one {
  width: 30%;
  height: auto;
  padding-right: 16px;
}
.two h6 {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0;
  gap: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.two h6 svg {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.linetwo {
  display: flex;
  flex-wrap: wrap;
}

.four {
  width: 25%;
}
.five {
  padding-top: 40px;
  width: 50%;
}
.six {
  padding-top: 40px;
  width: 50%;
}

.financialdetails {
  display: flex;
  margin-bottom: 16px;
}
.detailssquare {
  background-color: #e7424b;
  width: 16px;
  height: 32px;
  margin-right: 12px;
}
.details {
  width: 204px;
  height: 32px;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #444444;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.download {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #e7424b;
  letter-spacing: 0.01em;
  white-space: nowrap;
}

canvas {
  position: relative;
  max-height: 250px;
  width: 100%;
}

.breakdown {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #666666;
}
.child-desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #666666;
  margin-left: 24px;
}
h6 {
  width: 100%;
  height: 28px;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #999999;
  flex: none;
  order: 1;
  flex-grow: 1;
}
.s1 {
  width: 16px;
  height: 16px;
  background: #ffd542;
  border-radius: 4px;
}
.s2 {
  width: 16px;
  height: 16px;
  background: linear-gradient(0, #fbaf17 50%, #fbe0be 50%);
  border-radius: 4px;
}
.s3 {
  width: 16px;
  height: 16px;
  background: #fbe0be;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.s4 {
  width: 16px;
  height: 16px;
  background: #fbaf17;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.a1,
.a2 {
  color: #e7424b;
}

.bd {
  width: 224px;
  height: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #999999;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.fourtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 0;
  gap: 12px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  height: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #999999;
  flex: content;
  order: 1;
  flex-grow: 1;
  overflow-wrap: break-word;
}

.fourdesc {
  margin: 12px 0 0 0;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #e7424b;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  overflow-wrap: break-word;
}
.goes {
  margin: 12px 0 0 0;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.pepple {
  white-space: nowrap;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #444444;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.totalre {
  margin-left: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #666666;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.audited {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 12px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  height: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #999999;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.financials {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  border-bottom: solid 1px #e8e8e8;
}

.fa-chevron-left {
  padding-right: 22px;
  color: #e7424b;
}
.fa-chevron-right {
  padding-left: 22px;
  color: #e7424b;
}

h6 .fa-solid.fa-indian-rupee-sign {
  padding-right: 14px;
}

.pepple span {
  margin-right: 5px;
}

.highcharts-figure,
.highcharts-data-table table {
  margin: 0;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.tooltip {
  background: #444444;
  border-radius: 8px;
}
.tooltip span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .firstline {
      flex-direction: column;
  }
  .one {
      width: 100%;
  }
  .one .financialdetails,
  .one {
      margin-bottom: 32px;
  }
  .two {
      width: 100%;
  }

  .bd {
      font-size: 16px;
      line-height: 24px;
  }

  .desc .totalre,
  .desc .pepple {
      font-size: 14px;
      line-height: 20px;
  }
  .child-desc .totalre,
  .child-desc .pepple {
      font-size: 14px;
      line-height: 20px;
  }
}

.highcharts-tooltip text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  fill: rgb(255, 255, 255) !important;
}

@media (max-width: 992px) {
  .container {
      width: calc(100% - 70px);
  }
  .bd {
      width: 176px;
  }
}

@media (max-width: 768px) {
  .financials {
      display: block;
  }
  .three {
      width: 372px;
  }
  .linetwo {
      display: block;
  }
  .linetwo .fourtitle {
      margin-top: 0;
      margin-bottom: 12px;
  }
  .five,
  .six {
      width: 100%;
      padding-top: 32px;
  }
}

@media (max-width: 451px) {

  .financials {
      display: block;
  }
  .three {
      width: 100%;
  }
  .highcharts-root {
      width: 320px;
  }
}